@model IEnumerable<PostViewModel>

<div class="row"><button class="btn btn-primary start-topic">@Html.ActionLink("Start new topic", "Create", "Post", new { catId = ViewData["category"] }, null)</button></div>

@foreach (var post in Model)
{
    <div class="row home-page">
        <div class="col-md-12 category-row"> 
            <div class="col-md-10">
                <h3>@Html.ActionLink(@post.Title, "Details", "Post", new { id = post.Id}, null)</h3>
                <p>@post.Content</p>

            </div>
            <div class="col-md-2 last-changed">
                Last updated by: <a href="#">@post.Author.UserName</a> on @post.CreatedOn
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}

