@using ForumSystem.ViewModels
@model PostViewModel
<h2>Create</h2>


@using (Html.BeginForm("Create", "Post",  FormMethod.Post, new { }))
{
    <div>
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(model => model.Content)
        @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
    </div>
    @Html.HiddenFor( model => model.CategoryId)
    <div><input type="submit" class="btn btn-primary" /></div>
}

